.color-changer {
    background-color: aqua;
    padding: 50px;
}

.color-changer:hover {
    background-color: black;
}

.clock {
    padding-top: 200px;
    text-align: center;
    font-size: 20px;
}